.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.leftNav {
    display: flex;
}

.companyTitle {
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navLinks {
    display: flex;
    align-items: center;
    margin-left: 70px;
    font-size: 20px;
    gap: 30px;
    cursor: pointer;
    color: #2f2f2f;
}

.navLink {
    text-decoration: none;
    color: #2f2f2f;

}

.rightNav {
    display: flex;
    align-items: center;
}

.navIcons {
    display: flex;
    gap: 20px;
    padding-right: 30px;
    border-right: solid black 1px;
}

.navSearchIcon {
    width: 25px;
    height: 25px;
    background-image: url("../assets/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.navCartIcon {
    width: 25px;
    height: 25px;
    background-image: url("../assets/cart.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.navLogContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.navBtn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #2f2f2f;
    text-align: center;
}

.navLog {
    padding: 10px;
    background-color: #2f2f2f;
    color: white;
    border-radius: 10px;
    width: 120px;
}

.userIcon {
    width: 30px;
    height: 30px;
    background-image: url("../assets/user.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 20px;
    cursor: pointer;
}