.offerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.offerLeft {
    width: 70%;
    cursor: pointer;
}

.offerImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.offerLeft:hover .arrowImgOffer {
    margin-left: 0px;
    opacity: 1;
}

.offerLeft:hover .imgText {
    margin-left: 80px;
}

.arrowImgOffer {
    position: absolute;
    margin-bottom: 80px;
    margin-left: -80px;
    bottom: 0;
    opacity: 0;
    width: 100px;
    height: 80px;
    background-image: url("../assets/images/rightArrowImg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all ease-in-out .4s;
}

.percentageOffer {
    color: rgb(218, 52, 23);
    font-size: 65px;
}

.imgText {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 50px;
    transition: all ease-in-out .5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.imgText p {
    font-size: 20px;
}

.imgText h2 {
    font-size: 55px;
}

.offerRight {
    display: flex;
    align-items: center;
    background-color: rgb(65, 64, 64);
    width: 30%;
    /* height: 85vh; */
    border-radius: 10px;
    cursor: pointer;
}

.prodLinkOffer {
    display: flex;
    align-content: center;
    gap: 15px;
    text-decoration: none;
}

.offerRight p {
    align-self: center;
    font-size: 30px;
    padding-left: 60px;
    color: #333333;
    color: white;
}

.arrowAnimation {
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 1200px) {
    .imgText p {
        font-size: 14px;
    }

    .imgText h2 {
        font-size: 35px;
    }

    .percentageOffer {
        color: rgb(218, 52, 23);
        font-size: 45px;
    }

    .offerRight p {
        font-size: 24px;
    }

    .arrowAnimation {
        width: 25px;
    }

}

@media only screen and (max-width: 950px) {

    .offerRight p {
        font-size: 20px;
    }

    .offerRight {
        width: 100%;
        height: 40vh;
    }

    .offerRight p {
        font-size: 24px;
    }

    .offerContainer {
        display: flex;
        flex-direction: column;
    }

    .offerLeft {
        width: 100%;
        height: 400px;
    }

    .imgText,
    .arrowImgOffer {
        top: 0;
        padding: 10px;
        margin-top: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .emptyCart {
        font-size: 40px;
    }

    .offerLeft {
        height: 400px;
    }



    .imgText h2 {
        font-size: 24px;
    }
}