* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: inter;
}

.otherFont {
    font-family: Arial, Helvetica, sans-serif;
}

.marginReducer {
    margin: 0 5% 0 5%;
}

::selection {
    background-color: rgb(206, 206, 205);
    color: rgb(59, 44, 44);
}